.Phonetic {
  margin: 20px 0;
}
.Phonetic a {
  border: 1px solid#f39ee4;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  color: #f39ee4;
}

.Phonetic a:hover {
  background: #ef79d1;
  color:white;
}

.Phonetic .text {
  opacity:  0.5;
  font-weight: bold;
}
